<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      识别日志
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" pullMin='200' pullMax='300' (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="刷新" refreshingSpinner="circles"
      refreshingText="加载中...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list *ngFor="let item of facelist;let key = index">
    <ion-item *ngIf="item.result" (click)="showImage(key)">
      <span>识别成功({{item.user_info}})</span> <span style="padding-left: 40px;">{{item.date}}</span>
    </ion-item>
    <ion-item *ngIf="!item.result" (click)="showImage(key)">
      <span>识别失败</span><span class="date">{{item.date}}</span>
    </ion-item>
  </ion-list>
</ion-content>