<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      人脸库
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="addUser()">
        <ion-icon name="add-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed"  pullMin='200' pullMax='300' (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="刷新" refreshingSpinner="circles" 
      refreshingText="加载中...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding *ngFor="let item of userInfoList;let key=index">
      <ion-item>
        ({{item.userId}}){{item.userInfo}}
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="delete(key)" color="danger">删除</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>