#image{
    height: 330px;
    margin: auto;
    ion-label {
        position: relative;
        color: #9d9fa6;
        width: 100%;
        text-align: center;
        top: -10px;
        margin-top: 80px;
    }
}