<ion-header>
  <ion-toolbar>
    <ion-title>
      增加用户
    </ion-title>
    <ion-buttons slot="end"> 
      <ion-button color="primary" (click)="close()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
       </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating">用户ID <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" 
        onkeyup="this.value=this.value.replace(/[^\w_]/g,'');" 
        placeholder="输入大小写字母、数字、下划线"
        [(ngModel)]="userId"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">用户信息 <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" placeholder="建议输入用户姓名" [(ngModel)]="userInfo"></ion-input>
      </ion-item>
      <ion-item>
        <div  id='image' (click)="getactionSheet()">
          <img [src]="image" onerror="this.src = 'assets/image/1.jpg'" placeholder="上传图片">
        </div>
      </ion-item>

    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" class="ion-no-margin" (click)="postData()" [disabled]="disabled">确认</ion-button>
    </div>
</ion-content>
